name: asdf

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: 0 0 * * 5

jobs:
  plugin_test:
    name: asdf plugin test (${{ matrix.os }})
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          command: swiftformat --help
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
